{% extends "layout.html" %}

{% block body %}

<div class="dream">
    <section>
        <h1>The Dream</h1>
        <p>
            I created this website with the hopes of inspiring non-technical individuals to develop a deeper understanding of the AI that is becoming more and more deeply entrenched into their everyday lives. 
            Whether you're a student looking to learn more about the capabilities of AI or working professional looking to gain a deeper understanding of the tools you use in your day-to-day life, this website is for you! 
        </p>
        <div class="icons">
            <form action="{{ url_for('tutorials') }}">
                <button type="submit">Get Started</button>
            </form>
        </div>
    </section>
    <img src="{{ url_for('static', filename='robot-hand-blue.jpg') }}" alt="Robot hand touching blue sphere" width="700px">
</div>

{% endblock %}